# 데이터 톺아보기

In [2]:
import pandas as pd
import numpy as np

import os

/home/hshan/venvs/sp2109/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
pwd

'/home/hshan/00_individual/SP2109/0_EDA'

In [4]:
file_list = os.listdir('/home/hshan/00_individual/SP2109/data/')
# file_list = [s for s in file_list if "xlsx" in s]

In [5]:
file_list

['public_data', 'sample_submission.csv', '.ipynb_checkpoints', 'private_data']

## submission

In [6]:
sub1 = pd.read_csv('../data/sample_submission.csv')

In [7]:
sub1.head(2)

,예측대상일자,배추_가격(원/kg),무_가격(원/kg),양파_가격(원/kg),건고추_가격(원/kg),마늘_가격(원/kg),대파_가격(원/kg),얼갈이배추_가격(원/kg),양배추_가격(원/kg),깻잎_가격(원/kg),...,당근_가격(원/kg),파프리카_가격(원/kg),새송이_가격(원/kg),팽이버섯_가격(원/kg),토마토_가격(원/kg),청상추_가격(원/kg),백다다기_가격(원/kg),애호박_가격(원/kg),캠벨얼리_가격(원/kg),샤인마스캇_가격(원/kg)
0,2020-09-29+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-09-29+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
sub1[:20]

,예측대상일자,배추_가격(원/kg),무_가격(원/kg),양파_가격(원/kg),건고추_가격(원/kg),마늘_가격(원/kg),대파_가격(원/kg),얼갈이배추_가격(원/kg),양배추_가격(원/kg),깻잎_가격(원/kg),...,당근_가격(원/kg),파프리카_가격(원/kg),새송이_가격(원/kg),팽이버섯_가격(원/kg),토마토_가격(원/kg),청상추_가격(원/kg),백다다기_가격(원/kg),애호박_가격(원/kg),캠벨얼리_가격(원/kg),샤인마스캇_가격(원/kg)
0,2020-09-29+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-09-29+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-09-29+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-09-30+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-09-30+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020-09-30+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2020-10-01+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2020-10-01+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2020-10-01+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2020-10-02+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2020-10-02+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2020-10-02+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2020-10-03+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2020-10-03+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2020-10-03+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2020-10-04+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2020-10-04+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2020-10-04+4week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2020-10-05+1week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2020-10-05+2week,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 1) 예측 대상 농산물

In [9]:
print('예측 농산물 개수: ', len(sub1.drop(['예측대상일자'], axis=1).columns))
sub1.drop(['예측대상일자'], axis=1).columns

예측 농산물 개수:  21

Index(['배추_가격(원/kg)', '무_가격(원/kg)', '양파_가격(원/kg)', '건고추_가격(원/kg)',
       '마늘_가격(원/kg)', '대파_가격(원/kg)', '얼갈이배추_가격(원/kg)', '양배추_가격(원/kg)',
       '깻잎_가격(원/kg)', '시금치_가격(원/kg)', '미나리_가격(원/kg)', '당근_가격(원/kg)',
       '파프리카_가격(원/kg)', '새송이_가격(원/kg)', '팽이버섯_가격(원/kg)', '토마토_가격(원/kg)',
       '청상추_가격(원/kg)', '백다다기_가격(원/kg)', '애호박_가격(원/kg)', '캠벨얼리_가격(원/kg)',
       '샤인마스캇_가격(원/kg)'],
      dtype='object')

In [10]:
output_list = sub1.drop(['예측대상일자'], axis=1).columns
output_list = output_list.str.split('_').str[0]
output_list.to_list()

['배추',
 '무',
 '양파',
 '건고추',
 '마늘',
 '대파',
 '얼갈이배추',
 '양배추',
 '깻잎',
 '시금치',
 '미나리',
 '당근',
 '파프리카',
 '새송이',
 '팽이버섯',
 '토마토',
 '청상추',
 '백다다기',
 '애호박',
 '캠벨얼리',
 '샤인마스캇']

### 2) 예측 주기

In [11]:
sub2 = sub1.copy()

In [12]:
sub2['dt'] = sub2['예측대상일자'].str.split('+').str[0]
sub2['fct_horizon'] = sub2['예측대상일자'].str.split('+').str[1]

In [13]:
sub2['fct_horizon'].unique()

array(['1week', '2week', '4week'], dtype=object)

In [14]:
print(len(sub2['dt'].unique()))
sub2['dt'].unique()

76

array(['2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02',
       '2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06',
       '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10',
       '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14',
       '2020-10-15', '2020-10-16', '2020-10-17', '2020-10-18',
       '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22',
       '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26',
       '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30',
       '2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03',
       '2020-11-04', '2020-11-05', '2021-09-28', '2021-09-29',
       '2021-09-30', '2021-10-01', '2021-10-02', '2021-10-03',
       '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11',
       '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-15',
       '2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19',
       '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23',
       '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27',
       '2021-10-28', '2021-10-29', '2021-10-30', '2021-10-31',
       '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04'],
      dtype=object)

* 2020-09-29~2020-11-05
* 2021-09-28~2021-11-04

In [15]:
len(pd.date_range(start=sub2['dt'].unique().min(), end='20201105', freq='1d'))

38

In [16]:
len(pd.date_range(start='20210928', end=sub2['dt'].unique().max(), freq='1d'))

38

In [17]:
38+38

76

In [18]:
76*3

228

## data/private_data/

In [19]:
private1 = pd.read_csv('/home/hshan/00_individual/SP2109/data/private_data/private_data.csv')

In [20]:
private1.head(1)

,date,요일,배추_거래량(kg),배추_가격(원/kg),무_거래량(kg),무_가격(원/kg),양파_거래량(kg),양파_가격(원/kg),건고추_거래량(kg),건고추_가격(원/kg),...,청상추_거래량(kg),청상추_가격(원/kg),백다다기_거래량(kg),백다다기_가격(원/kg),애호박_거래량(kg),애호박_가격(원/kg),캠벨얼리_거래량(kg),캠벨얼리_가격(원/kg),샤인마스캇_거래량(kg),샤인마스캇_가격(원/kg)
0,2020-11-06,금요일,2051420.6,493.0,2764127.3,487.0,1969669.2,1138.0,958.0,22510.0,...,42634.0,1959.0,290660.8,1290.0,318723.1,1530.0,23697.0,2797.0,70824.0,10514.0

In [21]:
dir_path = '/home/hshan/00_individual/SP2109/data/private_data/AT_TSALET_ALL/'

In [22]:
file_list = os.listdir(dir_path)
file_list = [s for s in file_list if "csv" in s]

In [23]:
file_list

['AT_TSALET_ALL_202101.csv',
 'AT_TSALET_ALL_202103.csv',
 'AT_TSALET_ALL_202107.csv',
 'AT_TSALET_ALL_202012.csv',
 'AT_TSALET_ALL_202104.csv',
 'AT_TSALET_ALL_202106.csv',
 'AT_TSALET_ALL_202105.csv',
 'AT_TSALET_ALL_202108.csv',
 'AT_TSALET_ALL_202011.csv',
 'AT_TSALET_ALL_202102.csv']

In [24]:
private_exp1 = pd.read_csv(dir_path+file_list[0], error_bad_lines=False, engine='python')

Skipping line 132505: Expected 15 fields in line 132505, saw 17
Skipping line 397014: Expected 15 fields in line 397014, saw 20
Skipping line 656275: Expected 15 fields in line 656275, saw 17
Skipping line 1045302: Expected 15 fields in line 1045302, saw 20
Skipping line 1573299: Expected 15 fields in line 1573299, saw 28
Skipping line 1970834: Expected 15 fields in line 1970834, saw 22
Skipping line 2100809: Expected 15 fields in line 2100809, saw 18
Skipping line 2359308: Expected 15 fields in line 2359308, saw 23
Skipping line 2617485: Expected 15 fields in line 2617485, saw 24
Skipping line 3073813: Expected 15 fields in line 3073813, saw 19
Skipping line 3139089: Expected 15 fields in line 3139089, saw 19
Skipping line 3271746: Expected 15 fields in line 3271746, saw 16
Skipping line 3404559: Expected 15 fields in line 3404559, saw 17
Skipping line 3470889: Expected 15 fields in line 3470889, saw 23
Skipping line 3603669: Expected 15 fields in line 3603669, saw 21
Skipping line 3669999: Expected 15 fields in line 3669999, saw 19
Skipping line 3933077: Expected 15 fields in line 3933077, saw 20
Skipping line 3997826: Expected 15 fields in line 3997826, saw 17
Skipping line 4191848: Expected 15 fields in line 4191848, saw 22
Skipping line 4256312: Expected 15 fields in line 4256312, saw 18
Skipping line 4450142: Expected 15 fields in line 4450142, saw 28
Skipping line 4644637: Expected 15 fields in line 4644637, saw 26
Skipping line 4774513: Expected 15 fields in line 4774513, saw 26

In [25]:
private_exp1.head()

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT
0,20210109.0,창원팔용도매시장,창원청과,대파,대파(일반),kg,.,2개,특,경남 밀양시,5.0,2.0,7700.0,10.0,15400.0
1,20210109.0,창원팔용도매시장,창원청과,상추,적상추,kg,.,.,특,경남 밀양시,2.0,13.0,8500.0,26.0,110500.0
2,20210109.0,창원팔용도매시장,창원청과,상추,적상추,kg,.,.,특,경남 밀양시,2.0,11.0,9500.0,22.0,104500.0
3,20210109.0,창원팔용도매시장,창원청과,상추,적상추,kg,.,.,특,경남 밀양시,2.0,10.0,6300.0,20.0,63000.0
4,20210109.0,창원팔용도매시장,창원청과,상추,적상추,kg,.,.,특,경남 밀양시,2.0,4.0,7000.0,8.0,28000.0

In [26]:
private_exp1[private_exp1['SALEDATE'] == 0]

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT
4918724,0.0,16.0,37000,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN

In [27]:
private_exp1['PUM_NM'].unique()

array(['대파', '상추', '깻잎', '쪽파', '꽈리고추', '풋고추', '양송이', '표고버섯', '생강', '배추',
       '호박', '딸기', '감귤', '얼갈이배추', '기타', '칼리플라워(꽃양배추)', '마늘', '당근', '시금치',
       '브로코리(녹색꽃양배추)', '치커리', '봄동배추', '홍고추', '모자반', '파래', '달래', '시레기',
       '미역', '부추', '가지', '수수', '토마토', '양배추', '오이', '고구마', '감자', '팽이버섯',
       '새송이', '콜라비(순무양배추)', '셀러리(양미나리)', '무순', '새싹', '고수', '전분 및 사료제조',
       '다시마', '식용허브', '미나리', '방풍나물', '갓', '우뭇가사리', '돗나물', '도라지', '곡물제조',
       '파프리카', '피망(단고추)', '방울토마토', '느타리버섯', '쑥갓', '아욱', '청경채', '망고',
       '바나나', '포도', '무', '사과', '배', '곶감', '적채', '취나물', '열무', '겨자잎', '근대',
       '겨자', '케일', '비타민', '단감', '어린잎', '아스파라가스', '만감', '오렌지', '파인애플',
       '냉이', '양파', '동초', '숙주나물', '콩나물', '양상추', '토란', '만가닥', '춘채', '체리',
       '수박', '신선초', '참당귀', '참나물', '기타식품', '쌈추', '아보카도', '유채', '말', '로메인',
       '무청', '탄제린', '메론', '금감', '비트(붉은사탕무우)', '고사리', '우엉', '연근', '떫은감',
       '조미제품', '우엉대', '고추잎', '자몽', '용과', '머위대', '선인장열매', '양하', '마',
       '절임식품', '석류', '목이', '참다래(키위)', '레몬', '고구마순', '토란대', '블루베리',
       '방울양배추(스프로스)', '파세리(향미나리)', '밤', '옥수수', '루꼴라', '다래', '땅콩', '유지',
       '강낭콩', '멸치', '고비', '콩', '알타리무', '알로애', '차', '애느타리버섯', '조미가공',
       '겨자채', '곤드레나물', '보리순', '순무', '속새', '고들빼기', '비름', '완두', '호두', '더덕',
       '씀바귀', '삼채', '실파', '건고추', '꼬시래기', '돌나물', '참깨', '대추', '수삼',
       '아스파라거스', '사보래(사보이양배추)', '어묵_어분_어비', '야콘', '방아', '야생화',
       '크레송(고추무냉이)', '레드쉬', '빈스', '알파파싹', '두릅', '유자', '은행', '도토리', '방풍',
       '노루궁뎅이버섯', '메밀순', '김', '종자', '천궁', '옻', '민들레', '질경이', '쑥',
       '국화(기타)', '솔잎', '죽순', '컴프리', '금강초', '참외', '듀리안', '계피', '황기', '곤달비',
       '가랏', '고추씨', '들깨', '송화버섯', '오크라', '아몬드', '꿀벌', '허브', '찹쌀', '팥',
       '울금', '호박씨', '알로에', '무화과', '잣', '.', '보리수', '메밀', '보리', '상황버섯',
       '청각', '가죽나물', '통조림', '카이란', '람부탄', '강황', '영지버섯', '경상남도 하동군', '오가피',
       '감초', '머루', '코코넛', '고라비', '동부', '딸기타리버섯', '안스리움', '모과', '버찌', 'kg',
       '호박잎', '시�자', '조란', '복숭아', '해바라기씨', '피망잎', '묵나물', '여주', '독활',
       '건제품', '피마자', '분재류', '감갘)', '체리모야', '야자', '치자', '박', '과루인(하늘타리)',
       None, '원추리', '2.0', '360.0', '리치', '거베라', '혼합과실', '피마자잎', '인삼',
       '상자', '160.0', '녹두', '흑노호', '단', '포기찹', '초석잠', '16.0', '파파야',
       '근괴류'], dtype=object)

In [28]:
print(private_exp1['SALEDATE'].unique().min())
print(private_exp1['SALEDATE'].unique().max())
private_exp1['SALEDATE'].unique()

0.0
20210131.0

array([20210109., 20210108., 20210107., 20210106., 20210105., 20210104.,
       20210102., 20210120., 20210119., 20210118., 20210116., 20210115.,
       20210114., 20210113., 20210112., 20210111., 20210131., 20210130.,
       20210129., 20210128., 20210127., 20210126., 20210125., 20210123.,
       20210122., 20210121.,        0.])

In [29]:
private_exp1[private_exp1['PUM_NM'].isin(['샤인마스캇', '캠벨얼리', '애호박', '청상추', '백다다기'])]

Empty DataFrame
Columns: [SALEDATE, WHSAL_NM, CMP_NM, PUM_NM, KIND_NM, DAN_NM, POJ_NM, SIZE_NM, LV_NM, SAN_NM, DANQ, QTY, COST, TOT_QTY, TOT_AMT]
Index: []

## data/public_data/

In [30]:
public1 = pd.read_csv('/home/hshan/00_individual/SP2109/data/public_data/train.csv')

In [31]:
public1.head(1)

,date,요일,배추_거래량(kg),배추_가격(원/kg),무_거래량(kg),무_가격(원/kg),양파_거래량(kg),양파_가격(원/kg),건고추_거래량(kg),건고추_가격(원/kg),...,청상추_거래량(kg),청상추_가격(원/kg),백다다기_거래량(kg),백다다기_가격(원/kg),애호박_거래량(kg),애호박_가격(원/kg),캠벨얼리_거래량(kg),캠벨얼리_가격(원/kg),샤인마스캇_거래량(kg),샤인마스캇_가격(원/kg)
0,2016-01-01,금요일,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
print(public1['date'].min())
print(public1['date'].max())

2016-01-01
2020-09-28

In [33]:
len(public1)

1733

In [34]:
dir_path = '/home/hshan/00_individual/SP2109/data/public_data/train_AT_TSALET_ALL/'

In [35]:
file_list = os.listdir(dir_path)
file_list = [s for s in file_list if "csv" in s]

In [36]:
file_list

['AT_TSALET_ALL_201712.csv',
 'AT_TSALET_ALL_201902.csv',
 'AT_TSALET_ALL_201801.csv',
 'AT_TSALET_ALL_201706.csv',
 'AT_TSALET_ALL_201810.csv',
 'AT_TSALET_ALL_201709.csv',
 'AT_TSALET_ALL_201607.csv',
 'AT_TSALET_ALL_201608.csv',
 'AT_TSALET_ALL_201802.csv',
 'AT_TSALET_ALL_201806.csv',
 'AT_TSALET_ALL_201804.csv',
 'AT_TSALET_ALL_201612.csv',
 'AT_TSALET_ALL_201611.csv',
 'AT_TSALET_ALL_201903.csv',
 'AT_TSALET_ALL_201704.csv',
 'AT_TSALET_ALL_201805.csv',
 'AT_TSALET_ALL_201605.csv',
 'AT_TSALET_ALL_201811.csv',
 'AT_TSALET_ALL_201705.csv',
 'AT_TSALET_ALL_201702.csv',
 'AT_TSALET_ALL_201711.csv',
 'AT_TSALET_ALL_201610.csv',
 'AT_TSALET_ALL_201906.csv',
 'AT_TSALET_ALL_201707.csv',
 'AT_TSALET_ALL_201904.csv',
 'AT_TSALET_ALL_201703.csv',
 'AT_TSALET_ALL_201601.csv',
 'AT_TSALET_ALL_201812.csv',
 'AT_TSALET_ALL_201710.csv',
 'AT_TSALET_ALL_201606.csv',
 'AT_TSALET_ALL_201803.csv',
 'AT_TSALET_ALL_201604.csv',
 'AT_TSALET_ALL_201807.csv',
 'AT_TSALET_ALL_201701.csv',
 'AT_TSALET_ALL_201609.csv',
 'AT_TSALET_ALL_201905.csv',
 'AT_TSALET_ALL_201708.csv',
 'AT_TSALET_ALL_201808.csv',
 'AT_TSALET_ALL_201809.csv',
 'AT_TSALET_ALL_201901.csv',
 'AT_TSALET_ALL_201602.csv',
 'AT_TSALET_ALL_201603.csv']

In [37]:
public_exp1 = pd.read_csv(dir_path+file_list[0], error_bad_lines=False, engine='python')
print(len(public_exp1))

Skipping line 134865: Expected 15 fields in line 134865, saw 20

201937

In [40]:
public_exp1.head(1)

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT
0,20171209,수원도매시장,수원청과,풋고추,롱그린,kg,.,.,특,경남 창녕군,10.0,4.0,16500.0,40.0,66000.0

In [41]:
public_exp1['SALEDATE'].unique()

array([20171209, 20171208, 20171207, 20171206])

In [38]:
public_exp1.head(2)

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT
0,20171209,수원도매시장,수원청과,풋고추,롱그린,kg,.,.,특,경남 창녕군,10.0,4.0,16500.0,40.0,66000.0
1,20171209,수원도매시장,수원청과,풋고추,롱그린,kg,.,.,특,경남 창녕군,10.0,4.0,16500.0,40.0,66000.0

* SALEDATE: 경락 일자
* WHSAL_NM: 도매시장
* CMP_NM: 법인
* PUM_NM: 품목
* KIND_NM: 품종
* DAN_NM: 단위
* POJ_NM: 포장
* SIZE_NM: 크기
* LV_NM: 등급
* SAN_NM: 산지
* DANQ: 단위중량
* QTY: 물량
* COST: 단가
* TOT_QTY: 총물량 (음수로 집계된 값은 거래 취소 내역)
* TOT_AMT: 총금액