# 형식 바꾸기, 타임존 설정하기

## datetime 다루기

In [1]:
import pandas as pd

In [2]:
raw_file = pd.read_csv('/Users/hanhyeseung/hshan/basic_work/0_data/raw_data/az-pv-2006/HA4_32.55_-112.05_2006_UPV_100MW_60_Min.csv')

In [3]:
raw_file.head()

        LocalTime  Power(MW)
0  01/01/06 00:00        0.0
1  01/01/06 01:00        0.0
2  01/01/06 02:00        0.0
3  01/01/06 03:00        0.0
4  01/01/06 04:00        0.0

### 방법 1)

In [4]:
file_1 = raw_file.copy()

In [5]:
file_1.head()

        LocalTime  Power(MW)
0  01/01/06 00:00        0.0
1  01/01/06 01:00        0.0
2  01/01/06 02:00        0.0
3  01/01/06 03:00        0.0
4  01/01/06 04:00        0.0

In [6]:
pd.to_datetime(file_1['LocalTime'])[:5]

0   2006-01-01 00:00:00
1   2006-01-01 01:00:00
2   2006-01-01 02:00:00
3   2006-01-01 03:00:00
4   2006-01-01 04:00:00
Name: LocalTime, dtype: datetime64[ns]

In [7]:
file_1['datetime'] = pd.to_datetime(file_1['LocalTime'])

In [8]:
file_1['datetime'][:5]

0   2006-01-01 00:00:00
1   2006-01-01 01:00:00
2   2006-01-01 02:00:00
3   2006-01-01 03:00:00
4   2006-01-01 04:00:00
Name: datetime, dtype: datetime64[ns]

### 방법 2) 날짜와 관련된 지정된 코드
* https://docs.python.org/3.8/library/datetime.html#strftime-and-strptime-format-codes
    * strftime() and strptime() Format Codes 참고하기

In [9]:
raw_file.head()

        LocalTime  Power(MW)
0  01/01/06 00:00        0.0
1  01/01/06 01:00        0.0
2  01/01/06 02:00        0.0
3  01/01/06 03:00        0.0
4  01/01/06 04:00        0.0

In [10]:
file_2 = raw_file.copy()

In [11]:
file_2['LocalTime'][0]

'01/01/06 00:00'

In [12]:
pd.to_datetime(file_2['LocalTime'], format='%m/%d/%y %H:%M')[:10]

0   2006-01-01 00:00:00
1   2006-01-01 01:00:00
2   2006-01-01 02:00:00
3   2006-01-01 03:00:00
4   2006-01-01 04:00:00
5   2006-01-01 05:00:00
6   2006-01-01 06:00:00
7   2006-01-01 07:00:00
8   2006-01-01 08:00:00
9   2006-01-01 09:00:00
Name: LocalTime, dtype: datetime64[ns]

## 타임존 설정하기

* .dt를 안붙여주면 TypeError 발생한다.
    * 에러메세지: TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [37]:
file_3 = raw_file.copy()

In [38]:
file_3['datetime'] = pd.to_datetime(file_3['LocalTime'])

In [39]:
file_3['datetime'].dt.tz_localize(tz='Asia/Seoul')[:5]

0   2006-01-01 00:00:00+09:00
1   2006-01-01 01:00:00+09:00
2   2006-01-01 02:00:00+09:00
3   2006-01-01 03:00:00+09:00
4   2006-01-01 04:00:00+09:00
Name: datetime, dtype: datetime64[ns, Asia/Seoul]

In [40]:
file_3['dt_kst'] = file_3['datetime'].dt.tz_localize(tz='Asia/Seoul')

In [41]:
file_3.head()

        LocalTime  Power(MW)            datetime                    dt_kst
0  01/01/06 00:00        0.0 2006-01-01 00:00:00 2006-01-01 00:00:00+09:00
1  01/01/06 01:00        0.0 2006-01-01 01:00:00 2006-01-01 01:00:00+09:00
2  01/01/06 02:00        0.0 2006-01-01 02:00:00 2006-01-01 02:00:00+09:00
3  01/01/06 03:00        0.0 2006-01-01 03:00:00 2006-01-01 03:00:00+09:00
4  01/01/06 04:00        0.0 2006-01-01 04:00:00 2006-01-01 04:00:00+09:00

In [42]:
file_3['dt_utc'] = file_3['datetime'].dt.tz_localize(tz='UTC')

In [43]:
file_3.head()

,LocalTime,Power(MW),datetime,dt_kst,dt_utc
0,01/01/06 00:00,0.0,2006-01-01 00:00:00,2006-01-01 00:00:00+09:00,2006-01-01 00:00:00+00:00
1,01/01/06 01:00,0.0,2006-01-01 01:00:00,2006-01-01 01:00:00+09:00,2006-01-01 01:00:00+00:00
2,01/01/06 02:00,0.0,2006-01-01 02:00:00,2006-01-01 02:00:00+09:00,2006-01-01 02:00:00+00:00
3,01/01/06 03:00,0.0,2006-01-01 03:00:00,2006-01-01 03:00:00+09:00,2006-01-01 03:00:00+00:00
4,01/01/06 04:00,0.0,2006-01-01 04:00:00,2006-01-01 04:00:00+09:00,2006-01-01 04:00:00+00:00

* 이런 방법도 있다

In [58]:
file_3['datetime'].apply(lambda x: pd.Timestamp(x, tz='Asia/Seoul'))[:5]

0   2006-01-01 00:00:00+09:00
1   2006-01-01 01:00:00+09:00
2   2006-01-01 02:00:00+09:00
3   2006-01-01 03:00:00+09:00
4   2006-01-01 04:00:00+09:00
Name: datetime, dtype: datetime64[ns, Asia/Seoul]

* UTC --> KST

In [44]:
file_3['dt_utc_kst_1'] = file_3['dt_utc'].dt.tz_convert(tz='Asia/Seoul')

In [45]:
file_3.head()

,LocalTime,Power(MW),datetime,dt_kst,dt_utc,dt_utc_kst_1
0,01/01/06 00:00,0.0,2006-01-01 00:00:00,2006-01-01 00:00:00+09:00,2006-01-01 00:00:00+00:00,2006-01-01 09:00:00+09:00
1,01/01/06 01:00,0.0,2006-01-01 01:00:00,2006-01-01 01:00:00+09:00,2006-01-01 01:00:00+00:00,2006-01-01 10:00:00+09:00
2,01/01/06 02:00,0.0,2006-01-01 02:00:00,2006-01-01 02:00:00+09:00,2006-01-01 02:00:00+00:00,2006-01-01 11:00:00+09:00
3,01/01/06 03:00,0.0,2006-01-01 03:00:00,2006-01-01 03:00:00+09:00,2006-01-01 03:00:00+00:00,2006-01-01 12:00:00+09:00
4,01/01/06 04:00,0.0,2006-01-01 04:00:00,2006-01-01 04:00:00+09:00,2006-01-01 04:00:00+00:00,2006-01-01 13:00:00+09:00