# 변수의 유효범위(scope of variables)
* 프로그램 전체에서 유효한 전역변수(Global Variable)
* 함수의 코드블록 안에서만 유효한 지역변수(Local Variable)

In [55]:
A_X = 2
B_X = 30

A_Y = 1
B_Y = 1

In [56]:
col_list = ['A', 'B',]

col_x = [str(col) + '_x' for col in col_list]
col_y = [str(col) + '_y' for col in col_list]

temp_data = pd.DataFrame(columns=col_x+col_y)
temp_data['year'] = [1,2,3]

for col in col_list:

    temp_data[col+'_x'] = locals()[col+'_X']
    temp_data[col+'_y'] = locals()[col+'_Y']

In [57]:
temp_data

   A_x  B_x  A_y  B_y  year
0    2   30    1    1     1
1    2   30    1    1     2
2    2   30    1    1     3

In [67]:
def test():
    col_list = ['A', 'B',]

    col_x = [str(col) + '_x' for col in col_list]
    col_y = [str(col) + '_y' for col in col_list]

    temp_data = pd.DataFrame(columns=col_x+col_y)
    temp_data['year'] = [1,2,3]

    for col in col_list:

        temp_data[col+'_x'] = globals()[col+'_X']
        temp_data[col+'_y'] = globals()[col+'_Y']
        
    return temp_data

In [68]:
test()

   A_x  B_x  A_y  B_y  year
0    2   30    1    1     1
1    2   30    1    1     2
2    2   30    1    1     3

In [65]:
def test(A_X=A_X, B_X=B_X, A_Y=A_Y, B_Y=B_Y, ):
    col_list = ['A', 'B',]

    col_x = [str(col) + '_x' for col in col_list]
    col_y = [str(col) + '_y' for col in col_list]

    temp_data = pd.DataFrame(columns=col_x+col_y)
    temp_data['year'] = [1,2,3]

    for col in col_list:

        temp_data[col+'_x'] = locals()[col+'_X']
        temp_data[col+'_y'] = locals()[col+'_Y']
        
    return temp_data

In [66]:
test()

   A_x  B_x  A_y  B_y  year
0    2   30    1    1     1
1    2   30    1    1     2
2    2   30    1    1     3